body,div,h1,h2,h3,h4,p,ol,ul,li{
    margin:0;
    padding:0;
    border:0;
    text-shadow:0 0 0 #fff;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
@-webkit-viewport{
    width:device-width;
}
@-moz-viewport{
    width:device-width;
}
@-ms-viewport{
    width:device-width;
}
@-o-viewport{
    width:device-width;
}
@viewport{
    width:device-width;
}
html,body{
    min-height:100%;
    font-size:0.9em;
}
body{
    /*min-width:320px;
    max-width:768px;*/
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
    color:#666;
    font-family:arial;
    margin:0 auto;
}
ul{
    list-style-type:none;
}
a:link,a:visited,a:hover,a:active{
    text-decoration:none;
}