/*index.html*/
*{
	margin:0;
	padding:0;
}
html{
	width:100%;
	overflow-x:hidden;
}
body{
	font-family:"黑体";
	background-color:#e0e0e2;
	overflow-x:hidden;
	overflow-y:scroll;
	width:100%;
}
li{
	list-style-type:none;
}
a{
	color:#000;
}
a:hover{
	color:#000;
	text-decoration:none;
}
.search{
	margin-top:1rem;
	margin-bottom:1rem;
}
.search input{
	border-radius:8px;
	height:30px;
}
.search a{
	padding-left:10px;
	padding-right:0px;
	padding-top:8px;"
}
#changeImg{
	margin:0;
}
.point{
	margin-top:1.5rem;
	margin-bottom:.5rem;
}
.point ul li{
	text-align:center;
}
.point li p{
	margin-top:1rem;
	font-size:1.2rem;
}
.nearest{
	font-family:"宋体";
}
.nearest a.list-group-item{
	font-size:1rem;
}
.nearest .list-group-item .redLeft{
	color:#f00;
}
.glyphicon {
	color:#000;
}
/*hotJob.html*/
#hotJob p{
	color:#999;
	font-size:1rem;
	margin-left:2rem;
	margin-top:2rem;
	margin-bottom:0px;
}
#hotJob{
	margin-top:1rem;
	background-color:#fff;
}
#hotJob div{
	padding-left:2rem;
	line-height:3rem;
	height:3rem;
	font-size:1rem;
	text-overflow:ellipsis;
	overflow:hidden;
	color:#0b94e2;
}
#hotJob div a{
	color:#0b94e2;
}
/*internship.html*/
.list-block{
	margin:.2rem 0;
	font-size:1rem;/*加的*/
}
.list-block .item-inner{
	padding-bottom:0px;
}
.list-block .item-text{
	font-size:1rem;/*西兴街道*/
}
.list-block ul li a{
	font-size:1rem;/*web前端（实习）*/
}
.list-block .item-text{
	height:auto;
}
.list-block .item-subtitle{
	font-size:1rem;/*字0,3   1 7000-10000元/月*/
	color:#28abfc;
}
.list-block .item-text{
	font-size:1rem;/*0.6改成1 西兴街道  间距再看看*/
}
.list-block .item-after{
	font-size:0.6rem;
}
/*jobfair.html*/
.jobfair{
	margin-left:1rem;
}
.jobfair ul{
	background-color:#fff;
}
.jobfair li{
	padding-left:1rem;
}
.jobfair .date{
	background: url(../img/header.png) no-repeat;
	background-size:100%;
	color:#fff;
}

/*手机字体大小适配*/
@media only screen and (max-width: 320px), only screen and (max-device-width:320px) {
	html { font-size:10px; } }
@media only screen and (max-width: 640px), only screen and (max-device-width:640px) {
	html { font-size:16px; } }
.test-div{width: 10rem;}













