/*searchJob.html*/
*{
	margin:0;
	padding:0;
}
body{
	font-family:"黑体";
	background-color:#e0e0e2;
}
li{
	list-style-type:none;
}
a{
	color:#000;
}
a:hover{
	color:#000;
	text-decoration:none;
}
#jobSearch{/*searchJob.html*/
	*{
	margin:0;
	padding:0;
}
body{
font-family:"黑体";
background-color:#e0e0e2;
}
li{
list-style-type:none;
}
a{
color:#000;
}
a:hover{
color:#000;
text-decoration:none;
}
#jobSearch{
margin-top:1rem;
}
.menu-container{
padding-left:0.4rem;
}
.memu{
width:auto;
height:35px;
}
.memu ul{
width:auto;
}
.memu li:hover>a{
color:#1eb4e5;
}
.memu .memu-root{
border-right:1px solid #999;
padding-right:1.5rem;
margin-right:1rem;
}
.memu .memu-root>p{
width:auto;
margin:0;
}
.memu .memu-root .has-children a{
width:110px;
}
.list-block{
margin:.4rem 0;
}
.list-block .item-text{
height:auto;
}
.list-block .item-subtitle{
font-size:0.6rem;
color:#888;
}
.list-block .item-text{
font-size:0.6rem;
}
.list-block .item-after{
font-size:0.6rem;
}
.memu-root>a{
font-size:0.6rem;
}



margin-top:1rem;
}
.menu-container{
	padding-left:0.4rem;
}
.memu{
	width:auto;
	height:35px;
}
.memu ul{
	width:auto;
}
.memu li:hover>a{
	color:#1eb4e5;
}
.memu .memu-root{
	border-right:1px solid #999;
	padding-right:1.5rem;
	margin-right:1rem;
}
.memu .memu-root>p{
	width:auto;
	margin:0;
}
.memu .memu-root .has-children a{
	width:110px;
}
.list-block{
	margin:.4rem 0;
}
.list-block .item-text{
	height:auto;
}
.list-block .item-subtitle{
	font-size:0.6rem;
	color:#888;
}
.list-block .item-text{
	font-size:0.6rem;
}
.list-block .item-after{
	font-size:0.6rem;
}
.memu-root>a{
	font-size:0.6rem;
}


